<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<%= link_to "Delete", "/users/#{@user.id.to_s}/delete" , method: :delete %>
<%= link_to "home", "/users" %>

<%= link_to "New product", "/users/#{@user.id}/products/new" %>

